<h1>Create Campaign For Admin Side</h1>

<h1>Promotions</h1>

<br>

<form action="???" method="post" id="AdminMakeUsLoseMoneyForm">
    <h3>Promotion Name: Birthday</h3>
    
    <h3>Requirements: </h3>
    <ul>
        <li>Category: </li>
        <li>limit user: emailid</li>
        <li>limit redemtion per person: 1</li>
        <li>limit total redemtion: 1</li>
    </ul>

    <h3>The Promotion Itself: 30%</h3>
    <h3>Promotion Code: MD30S Note that it must not be the same as an existing code that us running</h3>
    <h3>Purpose of promotion: To Celebrate with our birthday on thier day</h3>
    <h3>Promotion Valid: True</h3>
    <h3>Start of Promotion: 15/5/2022 add time?</h3>
    <h3>End of Promotion: 15/6/2022 add time?</h3>

</form>

<br>

<h1> Membership Points??/Redemtion </h1>

<br>

<h1>Loyalty Programs</h1>