<nav class='navbar navbar-expand-sm navbar-dark bg-primary mb-3'>
  <div class='container fluid'>
    <a class='navbar-brand' href='/'>MUNCH</a>
    <button
      class='navbar-toggler'
      type='button'
      data-bs-toggle='collapse'
      data-bs-target='#navbarText'
      aria-controls='navbarText'
      aria-expanded='false'
      aria-label='Toggle navigation'
    >
      <span class='navbar-toggler-icon'></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText" style="flex-grow: 0;">
      <ul class='navbar-nav ml-auto'>
        {{#if user}}
          {{#if (checkAdmin user.dataValues.role)}}
            <li class='nav-item'>
              <a href='/admin/listUsers' class='nav-link'>Accounts</a>
            </li>
			
          {{/if}}
          {{#if (checkCustomer user.dataValues.role)}}
            <li class='nav-item'>
              <a href='/user/profile' class='nav-link'>Profile</a>
            </li>
          {{/if}}
		  <li class='nav-item'>
              <a href='/admin/dashboard' class='nav-link'>Dashboard</a>
            </li>
          <li class='nav-item dropdown'>
            <button
              class='nav-link btn dropdown-toggle'
              type='button'
              data-bs-toggle='dropdown'
              aria-haspopup='true'
              aria-expanded='false'
            >
              Promotion
            </button>
            <div class='dropdown-menu'>
              <a href='/promotion/listPromotion' class='dropdown-item'>View
                Promotion</a>
              <a href='/promotion/createPromotion' class='dropdown-item'>Add
                Promotion</a>
            </div>
          </li>

          <li class='nav-item dropdown'>
            <button
              class='nav-link btn dropdown-toggle'
              type='button'
              data-bs-toggle='dropdown'
              aria-haspopup='true'
              aria-expanded='false'
            >
              Review
            </button>
            <div class='dropdown-menu'>
              <a href='/review/listReviews' class='dropdown-item'>View Review</a>
              <a href='/review/showAddReview' class='dropdown-item'>Add Review</a>
            </div>
          </li>

          <li class='nav-item'>
            <a href='/logout' class='nav-link'>Logout</a>
          </li>
        {{else}}
          <li class='nav-item'>
            <a href='/showLogin' class='nav-link'>Login</a>
          </li>
          <li class='nav-item'>
            <a href='/showRegister' class='nav-link'>Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>

</nav>