<style>
</style>
<nav
  class='nav-bar'
  style='padding-left: 50px;
		padding-right: 50px;'
>
  <div
    class='nav-container'
    style='display: flex;
		justify-content: space-between;
		max-width: 1350px;
		height: 80px;
		align-items: center;'
  >
    <div>
      <img src='img/logo.png' />
    </div>
    <div
      class='nav-links'
      style='display: flex;
		gap: 10px;
		align-items: center;'
    >
      {{#if user}}
        <a
          class='nav-link'
          style='font-weight: 500;
		font-size: 1.1rem;
		color: #212B36'
          href='/promotion/listPromotion'
        >View Promotion</a><a
          class='nav-link'
          style='font-weight: 500;
		font-size: 1.1rem;
		color: #212B36'
          href='/promotion/listPromotion'
        >View Promotion</a>
        <a
          class='nav-link'
          style='font-weight: 500;
		font-size: 1.1rem;
		color: #212B36'
          href='/promotion/createPromotion'
        >Add Promotion</a>
        <a
          class='nav-link'
          style='font-weight: 500;
		font-size: 1.1rem;
		color: #212B36'
          href='/user/profile'
        >Profile</a>
        <a
          class='nav-link'
          style='font-weight: 500;
		font-size: 1.1rem;
		color: #212B36'
          href='/review/listReviews'
        >List Review</a>
        <a
          class='nav-link'
          style='font-weight: 500;
		font-size: 1.1rem;
		color: #212B36'
          href='/review/showAddReview'
        >Create Review</a>
        <button class='btn'><a href='/logout' style='outline: none;'>Log out</a></button>
      {{else}}
        <button
          class='btn'
          style='outline: none;
		background-color: #e67e22;
		height: 40px;
		width: 100px;
		color: #fff;
		font-weight: 700;'
        ><a href='/showLogin' style='outline: none;'>Sign In</a></button>
      {{/if}}
    </div>
  </div>
</nav>