<!--.col-	.col-sm-	.col-md-	.col-lg-	.col-xl- -->
<div class="container">
	<div class="card card-body">
		<h3>Create Ingredient</h3>
		<form action="/inventory/addInventory" method="post" id="addInventory">
			<div class="form-group">
				<label class="font-arial" for="itemName">Item Name:</label>
				<input type="text" class="form-control" name="itemName" required>
			</div>
			<div class="form-group mb-4">
				<label class="font-arial" for="description">Description:</label>
				<textarea class="form-control" id="description" name="description" rows="7"></textarea>
			</div>
			<div class="form-group">
				<label class="font-arial" for="quantity">Quantity:</label>
				<input type="number" required name="quantity" min="0" value="0" step="any">
			</div>
			<div class="form-group">
				<label class="font-arial" for="price">Price (per unit)::</label>
				<input type="number" required name="price" min="0" value="0" step="any">
			</div>
			<div class="form-group">
				<label class="font-arial" for="totalPrice">Total Price(SGD):</label>
				<input type="number" required name="totalPrice" min="0" value="0" step="any">
			</div>
			<div class="form-group">
				<label class="font-arial" for="supplierName">Supplier Name:</label>
				<input type="text" class="form-control" name="supplierName" required>
			</div>
			<div class="form-group">
				<label class="font-arial" for="supplierPhoneNumber">Supplier Phone Number:</label>
				<input type="number" class="form-control" name="supplierPhoneNumber" required>
			</div>
			<div class="form-group">
				<label class="font-arial" for="checkedByStaffName">Check by Staff Name:</label>
				<input type="text" class="form-control" name="checkedByStaffName" required>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<label class="font-arial">Ingredient Type:</label>
						<br>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Meat" value="Meat" name="ingredientType" required>
							<label class="form-check-label" for="Meat">Meat</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Vegetable" value="Vegetable" name="ingredientType">
							<label class="form-check-label" for="Vegetable">Vegetable</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Noodle" value="Noodle" name="ingredientType">
							<label class="form-check-label" for="Noodle">Noodle</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Rice" value="Rice" name="ingredientType">
							<label class="form-check-label" for="Rice">Rice</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Beef" value="Beef" name="ingredientType">
							<label class="form-check-label" for="Beef">Beef</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Pork" value="Pork" name="ingredientType">
							<label class="form-check-label" for="Pork">Pork</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Others" value="Others" name="ingredientType">
							<label class="form-check-label" for="Others">Others(sauce, chill, or other ingredient etc)</label>
						</div>
					</div>
				</div>
			<div class="form-group">
				<div class="row mb-2">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
						<label class="font-arial">Import Date:</label>
						<input id="datepicker" width="200" name="importDate" readonly />
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row mb-2">
					<div class="col-12 col-sm-12 col-md-12 col-lg-6 mb-4">
						<label class="font-arial">Expiry Date:</label>
						<input id="datepicker1" width="200" name="expiryDate" readonly />
					</div>
			<div class="form-group">
				<div class="row">
					<div class="col-12 col-sm-12 col-md-6 col-lg-6">
						<label class="font-arial">Status:</label>
						<br>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Available" value="Available" name="status" required>
							<label class="form-check-label" for="Available">Available</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="Unavailabe" value="Unavailabe" name="status">
							<label class="form-check-label" for="Unavailabe">Unavailable</label>
						</div>
							<div class="col-lg-3">
					{{!-- File Upload --}}
					<input type="file" id="postedUpload" name="posterUpload" accept="image/png, image/jpeg,image/jpg,image/gif">

					{{!-- Poster Image --}}
					<img id="poster" src="/img/no-image.jpg" alt="" class="border img-thumbnail img-fluid" style="height:95%;width:100%">
					
					{{!-- Hidden error msg --}}
					<div class="font-weight-bold text-danger small" id="posterErr" style="display:none"></div>

					{{!-- Hidden field to submit URL of poster to the server --}}
					<input id="posterURL" type="hidden" name="posterURL">
				</div>
			</div>
		{{!--<div class="form-check form-check-inline">
			<div class="form-group">
				<input type="text" class="form-control form-control-sm" name="otherSub" id="otherSub"
					placeholder="Other">
			</div>
		</div>--}}
	</div>
</div>
</div>
<button id="butAddInventory" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>

<script>
	$('#datepicker').datepicker({
		value: new Date().toLocaleDateString('en-GB'),
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
	});
	$('#datepicker1').datepicker({
		value: new Date().toLocaleDateString('en-GB'),
		format: 'dd/mm/yyyy',
		uiLibrary: 'bootstrap4',
	});
</script>