<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Update Password</h3>
            </br>
            <form action="" method="post">
                <div class="form-group">
                    <label>Old Password</label>
                    </br>
                    <input type="text" class="form-control" name="pass" id="zipcode" {{#if
                        user.zipCode}}value="{{user.zipCode}}" {{/if}} required>
                    <span class="font-weight-bold text-danger" id="oneMapErr" style="display:none">Address
                        Unavailable</span>
                    <span class="font-weight-bold text-danger" id="codeErr" style="display:none">Please enter a valid
                        postal code</span>
                    </br>
                    <a href="#" onclick="getOneMapAddress()" tabindex="-1" class="card-link">
                        <i class="fas fa-home"></i>
                        &nbsp;Get Postal Address Data
                    </a>
                </div>
                <div class="form-group">
                    <label>Postal Address</label>
                    </br>
                    <input type="text" class="form-control" name="address" id="address" readonly required>
                </div>
                <div class="form-group">
                    <label>Unit No. (if applicable)</label>
                    </br>
                    <input type="text" class="form-control" name="unitNo" id="unitNo" placeholder="e.g. #02-10" {{#if
                        user.unitNo}}value="{{user.unitNo}}" {{/if}}>
                    <span class="font-weight-bold text-danger" id="unitErr" style="display:none">Please enter a valid
                        unit No.</span>
                </div>
                <button type="submit" id="submitId" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>